* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  background-color: #fafafa;
}

.mainWrapper {
  max-width: 935px;
  min-height: 100vh;
  margin: auto;
  width: 100%;
  position: relative;
  padding-top: 84px;
}

/* login form */
div[role="alert"] {
  font-size: 11px;
}
